@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.App {
  text-align: center;
  height: 100%;
}

.Title {
  -webkit-text-stroke: 0.1px black;
  color: red;
  font-family: 'Cookie', cursive;
  font-size: 5em;
  margin-top: 0 ;
}

.Intro {
  -webkit-text-stroke: 0.1px darkred;
  color: red;
  font-family: 'Cookie', cursive;
  font-size: 4em;
}

body {
  overflow-y: hidden ; 
  overflow-x: hidden;
  margin: 0;
}

/* 
@media only screen and (max-width: 600px){
    body {
          width: 100%;
 }};

 @media only screen and (min-width: 600px){
  body {
        width: 75%;
}}; */

.Home {
  background-size: contain;
  background-image: url('./DnDwallpaper_2560-x-1600.jpg');
  height: 100%;
  width: 100%;
  
}

html, body, .App {
  height: 125vh;
}

.Charbutton {
  background-color: darkred;
  border-color:red ;
  width: 245px;
  height: 55px;
  font-family: 'Cookie', cursive;
  font-size: 47px;
  position: relative;
  top: 173px;
  left: 110px;
  text-align: center;

}

.Createbutton {
  background-color: darkred;
  border-color:red;
  width: 245px;
  height: 55px;
  font-family: 'Cookie', cursive;
  font-size: 42px;
  position: relative;
  top: 255px;
  left: -135px;
  text-align: center;
}

:hover.Charbutton, :hover.Createbutton {
  color: red;
}
/* vw is viewwidth and vh is view height */

.form-Container {
  position: flex;
  flex-direction: column;
 
}

/* .left-Column {
  margin-top: 90px;
  float: left;
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 500px;
} */

.left-Column {
  margin-top: 90px;
  float: left;
  width: 50%;
  background-color: aqua;
}

.left-Column2 {
  float: left;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 500px;
}

.right-Column {
  margin-top: 90px;
  float: left;
  width: 50%;
  background-color: red;
}

.right-Column2 {
  float: right;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 500px;
}

.Charlore {
  color: aqua;
}

.Back {
  display: flex;
  float: left;
  margin-top: 21px;
}

.Footer {
  display: flex;
  float: right;
  /* margin-top: 315px; */
}
.Footerchar {
display: flex;
float: right;
/* margin-top: 500px; */
}

@media only screen and (max-width:600px) {
  .Footerchar {
      margin-top: 100px;
  }
}

@media only screen and (min-width:600px) {
  .Footerchar {
      margin-top: 200px;
  }
}

@media only screen and (min-width:700px) {
  .Footerchar {
      margin-top: 310px;
  }
}

/* @media only screen and (max-width:600px) {
  .Footer {
      margin-top: 100px;
  }
}

@media only screen and (min-width:600px) {
  .Footer {
      margin-top: 200px;
  }
} */

@media only screen and (min-width:700px) {
  .Footer {
      margin-top: 60px;
  }
}


.row {
  clear: both;
}

.Headerform {
  display: flex;
  justify-content: space-between;
}

.Headerlist {
  display: flex;
  justify-content: space-between;

}

.Charheadersdk {
  display: flex;
  justify-content: space-between;
}

.CACbutton {
margin-top: 21px;

}

.Backlist, .Backchar {
margin-top: 21px;
float: left;
}

.CharacterContainer {
  width: 100%;
  columns: 2;
  background-color: aqua;
}

.Listitem {
  width: 101.5%;
  border: solid 2px black;
  display: inline-block;
  text-align: center;
}

.Containerkey {
  display: inline-flex;
  flex-direction: column;
  float: left;
  width: 50%;
}

.Itemkey {
  text-align: center;
  width: 100%;
  border-bottom: 1px black solid ;
}

.Containervalue {
  display: inline-flex;
  flex-direction: column;
  float: right;
  width: 50%;
}

.Itemvalue {
  text-align: center;
  width: 100%;
  border-bottom: 1px black solid;
}
/* inline block is net als block met clear both, maar als je een inline block weer clear both doet dan word het weer een block. */