@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.App {
  text-align: center;
  height: 100%;
}

body {
  overflow-y: hidden ; 
  overflow-x: hidden;
  margin: 0;
}

html, body, .App {
  height: 125vh;
}

.form-Container {
  position: flex;
  flex-direction: column;
}

.Charlore {
  color: aqua;
}

.Back {
  display: flex;
  float: left;
  margin-top: 21px;
}

.Footer {
  display: flex;
  float: right;
  /* margin-top: 315px; */
}
.Footerchar {
display: flex;
float: right;
/* margin-top: 500px; */
}

@media only screen and (max-width:600px) {
  .Footerchar {
      margin-top: 100px;
  };

  .Title{
    font-size: 2em;
  }

  .Intro {
    font-size: 1.5em;
  }

}

@media only screen and (min-width:600px) {
  .Footerchar {
      margin-top: 120px;
  }
}

@media only screen and (min-width:700px) {
  .Footerchar {
      margin-top: 250px;
  }
}

/* @media only screen and (max-width:600px) {
  .Footer {
      margin-top: 100px;
  }
}

@media only screen and (min-width:600px) {
  .Footer {
      margin-top: 200px;
  }
} */

@media only screen and (min-width:700px) {
  .Footer {
      margin-top: 60px;
  }
}

.Charheadersdk {
  display: flex;
  justify-content: space-between;
}

.Editchar {
  height: 21px;
  margin-top: 21px;
}

.CACbutton {
margin-top: 21px;

}

/* inline block is net als block met clear both, maar als je een inline block weer clear both doet dan word het weer een block. */